.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18%;
  padding-top: 100px;
  padding-left: 0px;
  margin-left: 200px;
  border-bottom: 3px solid skyblue;
}
.items {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
}
.items:hover {
  color: skyblue;
}
.dropdown {
  padding: 0px;
  list-style: none;
  margin-left: -30px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid skyblue;
  height: 120px;
  width: 150px;
}
.dropdown-items {
  text-decoration: none;
  color: black;
}
.dropdown {
  position: absolute;
  display: none;
}
.Servhover {
  position: relative;
}
.Servhover:hover .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.dropdown a:hover {
  color: skyblue;
}
